

body {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  /* Fallback color */
  background-color: #d6e2f0;
  background-color: hsl(212, 45%, 89%);
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   max-width: 400px;
   box-sizing: border-box;
   margin: auto;
}

.QR-container {
  background-color: white;
  border-radius: 15px;
  margin: 2rem;
}

.image-div {
  padding: 1rem;
}

.QR-image {
  width: 300px;
  /* Do to not use % for border radius */
  border-radius: 15px;
}

.text-div {
  padding: 0 1.5rem;
}

.QR-heading {
  color: #1f3251;
  font-size: 1.4rem;
  margin: auto;
}

.QR-text {
  color: #7b879d;
  font-size: 1rem;
  margin: 1rem 0 2rem;
}

.attribution {
  font-size: 0.75rem;
  bottom: 2rem;
}
